.mainscreen {
  min-height: 90vh;
  width: 100%;
  display: flex;
}

.payment-card {
  background-color: #ffffff;
  width: 35rem;
  border-bottom-right-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  padding: 1rem 2rem 3rem 3rem;
  margin: auto;
  position: center;
  align-self: center;
  border-radius: 1.5rem;
  box-shadow: 4px 3px 20px #3535358c;
}

.payment-card h3 {
  text-align: center;
}

#payment-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
}

#card-element {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.cardholder-input {
  height: 25px;
  border: none;
  outline: none;
  font-family: sans-serif;
  font-size: 0.9em;
  margin: 20px 0px;
}

#payment-form button {
  margin-top: 20px;
  padding: 10px;
  cursor: pointer;
  color: white;
  letter-spacing: 4px;
  font-size: 1.2em;
  border: none;
  border-radius: 15px;
  background: #3e8e41;
}

#payment-form button:hover {
  background: linear-gradient(135deg, #3e8e41 0%, #0f5d70 100%);
}

#payment-form i {
  color: grey;
}
