.new-article-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.new-article-form-container {
  width: 380px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  border-radius: 15px;
  box-shadow: 0px 0px 24px #494949;
  display: flex;
  flex-direction: column;
}

.new-article-form {
  width: 320px;
  padding: 30px;
}

.new-article-header {
  text-align: center;
}

.new-article-label {
  display: block;
  margin-bottom: 0.5rem;
}

.new-article-input {
  border-radius: 0.75rem;
  border: 1px solid grey;
  margin-bottom: 1rem;
  width: 280px;
  max-width: 280px;
  min-width: 280px;
  height: 2rem;
  padding-left: 16px;
}

.new-article-form textarea {
  min-height: 10rem;
  padding-top: 10px;
}

.new-article-form label {
  font-weight: bold;
}

#articlePrivate {
  display: flex;
  align-items: flex-end;
}

.new-article-btn {
  background-color: #4CAF50;
  font-size: 14px;
  margin-top: 30px;
  padding: 16px 20px;
  border-radius: 26px;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  align-items: center;
  width: 100%;
  color: white;
  box-shadow: 0px 2px 2px #3e8e41;
  cursor: pointer;
  transition: .2s;
}
