.show-main-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));

  @media (max-width: 640px) {
    display: flex;
    flex-direction: column;
  }
}

.show-latest-articles-container {
  display: flex;
  margin-top: 3rem;
  margin-right: 1.5rem;
  flex-direction: column;

  @media (max-width: 640px) {
    margin-bottom: 20px;
    border-bottom: 2px solid grey;
  }
}

.show-latest-header {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  line-height: 1.75rem;
  font-weight: 700;
  letter-spacing: 0.025em;
}

.show-latest-header-underline {
  width: 100%;
  border-bottom: 2px solid grey;
}

.show-latest-articles {
  display: flex;
  margin-top: 3rem;
  flex-direction: column;
}

.show-article-container {
  display: flex;
  margin-top: 1.5rem;
  flex-direction: column;
  align-items: flex-start;
  grid-column: span 3 / span 3;
}

.show-article-tag {
  padding: 4px 16px;
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 600;
  border-radius: 50px;
}

.show-header-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.show-article-header {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
  letter-spacing: 0.025em;
}

.show-article-price {
  display: flex;
  align-items: center;
}

.show-article-text-container {
  font-weight: 300;
}

.show-article-text {
  position: relative;
  text-align: justify;
}

.article-text-filter {
  filter: blur(16px) brightness(90%) contrast(120%);
}

.show-article-controls {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 300;
}

.article-control-link {
  color: black;
}

.article-control-link:hover {
  color: #3B82F6;
}

.add-to-cart-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 400;
}

.add-to-cart-btn button {
  font-size: 1rem;
  padding: 8px 18px;
  cursor: pointer;
  font-weight: bold;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 15px;
}

.add-to-cart-btn button:hover {
  background-color: #3e8e41;
}
