.show-main-container {
  display: grid;
  // margin-left: 4rem;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.show-latest-articles-container {
  display: flex;
  margin-top: 3rem;
  flex-direction: column;
}

.show-latest-header {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 800;
  letter-spacing: 0.025em;
}

.show-latest-header-underline {
  width: 100%;
  border-bottom-width: 2px;
}

.show-latest-articles {
  display: flex;
  margin-top: 3rem;
  flex-direction: column;
}

.show-article-container {
  display: flex;
  margin-top: 1.5rem;
  flex-direction: column;
  align-items: flex-start;
  grid-column: span 3 / span 3;
}

.show-article-tag {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  border-radius: 9999px;
}

.show-header-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.show-article-header {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 800;
  letter-spacing: 0.025em;
}

.show-article-text-container {
  font-weight: 300;
}

.show-article-text {
  position: relative;
}

.article-text-filter {
  filter: blur(16px) brightness(90%) contrast(120%);
}

.show-article-controls {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 300;
}

.article-control-link {
  color: #3B82F6;
}
