footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  bottom: 0;
  background-color: #4CAF50;
  height: 150px;
  width: 100%;
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.2rem;
}

.footer-links .footer-link {
  margin: 0px 8px;
  padding: 0px 8px;
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 2px;
}

footer p {
  color: white;
  font-size: 1rem;
  font-weight: 300;
}

.footer-links a:hover {
  text-decoration: underline;
}
