<footer>
  <div class="footer-links">
    <div><%= link_to 'Home', profile_path, class: 'footer-link' %></div>
    <div><%= link_to 'New Article', new_article_path, class: 'footer-link' %></div>
  </div>
  <p>&copy;2023 Copyright | Articles App</p>
</footer>
